<html>
    <head>
        <meta name="viewport" content="" />
        <title>Shopping Cart Application</title>
        <link rel="stylesheet" type="text/css" href="Content/Styles/Site.css">
    </head>

    <body>
        <div class="nav-bar"></div>
        <!-- Reference Element Id -->
        <div id="app">
            <div class="product">

                <div class="product-image">
                    <img v-bind:src="image"> 
                </div>
                <!-- 'image' above is the expression -->
                <!-- shorthand for v-bind
                :alt="description"
                :href="url"
                :title="toolTip"
                :class="isActive"
                :style="isStyled"
                :disabled:"isDisabled"
                -->
        
                <div class="product-info">
                    
                    <h1>{{product}}</h1>
                    
                    <p v-if="socksInventory>10">In Stock</p>
                    <p v-else-if="socksInventory>0 && socksInventory<10">Almost Gone!</p>
                    <p v-else>Out of Stock</p>
                
                    <ul>
                        <li v-for="detail in details">{{detail}}</li>
                    </ul>
                
                    <div v-for="variant in variants" :key="variant.variantId">
                        <p>{{variant.variantColor}}</p>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </body>
</html>

<script src = "Content/JavaScript/vue.js"></script>
<script src = "Content/JavaScript/main.js"></script>