<html>
    <head>
        <meta name="viewport" content="" />
        <title>Shopping Cart Application</title>
        <link rel="stylesheet" type="text/css" href="Content/Styles/Site.css">
    </head>

    <body>
        <div class="nav-bar"></div>
        <!-- Reference Element Id -->
        <div id="app">
            <div class="product">

                <div class="product-image">
                    <img v-bind:src="image"> 
                </div>
                <!-- 'image' above is the expression -->
                <!-- shorthand for v-bind
                :alt="description"
                :href="url"
                :title="toolTip"
                :class="isActive"
                :style="isStyled"
                :disabled:"isDisabled"
                -->
        
                <div class="product-info">
                    <!-- Expression -->
                    <h1>{{product}}</h1> 
                    <!-- v-if Using Boolean Variables -->
                    <p v-if="inStock">In Stock</p>
                    <p v-else>Out of Stock</p>
                    <!-- v-if Using numeric variables -->
                    <p v-if="socksInventory>10">In Stock</p>
                    <p v-else-if="socksInventory>0 && socksInventory<10">Almost Gone!</p>
                    <p v-else>Out of Stock</p>
                    <!-- v-show using Boolean Variables 
                    Using v-show visibility is set to false, if expression eevaluates to False
                    -->
                    <p v-show="inStock">In Stock</p>
                    
                </div>   
                     
            </div>
        </div>
    </body>
</html>


<!-- VueJs External Reference -->
<!-- <script src = "https://unpkg.com/vue"></script> -->
<!-- VueJs Internal Reference -->
<script src = "Content/JavaScript/vue.js"></script>
<script>    
    // Vue Instance: root of application
    const app = new Vue({
        el: '#app', //el: to plug in to the div or any other element using expressions {{<data-member-name>}}
        data: {     //data: holds data for the vue
            product: 'Socks', //data                        
            image: 'Content/assets/images/socks-green-on-white.jpg',
            inStock: true,
            socksInventory: 0
        }
    })    
</script>